/*

Title Font: font-family: 'Righteous', cursive;
Other nonTitle Font: font-family: 'Share', cursive;
Question and mass text font: font-family: 'Sulphur Point', sans-serif;

*/


:root {
    --brown-color: rgb(66, 51, 45);
    --blue-color: rgb(181, 227, 243);
    --tan-color: rgb(244, 169, 135);
}

body {
	box-sizing: border-box;
	background-color: var(--brown-color);
}

#boss-box {
    padding: 0;
    background-color: var(--brown-color);
    color: var(--blue-color);
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: flex-end;
    align-content: flex-end;
}

#trivia-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    text-align: center;
    font-size: 64px;
    font-weight: 200;
    font-family: 'Righteous', cursive;
    background-color: var(--tan-color);
    color: var(--brown-color);
    max-width: 600px;
    padding: 0 0.1em;
    margin: 0;
}

h2 {
	text-align: center;
    font-family: 'Share', cursive;
    background-color: var(--blue-color);
    color: var(--brown-color);
    padding: 0;
    margin: 0;
}

h3 {
	text-align: center;
    font-size: 24px;
    font-family: 'Russo One', sans-serif;
    background-color: var(--blue-color);
    color: var(--brown-color);
}

/*input box*/
input[type=text] {
    background-color: var(--blue-color);
    color: var(--brown-color);
    border: none;
    font-family: 'Russo One', sans-serif;
    font-size: 24px;
    padding: 0 auto;
    text-decoration: none;
    margin: 10px auto;
    cursor: pointer;
    text-align: center;
}

/* submit button*/
/* hidden now! */
input[type=submit] {
    display: none;

}

#answer-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*
for the flip
#result-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--brown-color);
}
*/
#game-box {
	display: flex;
    position: relative;
    height: 150px;
    /*border: 10px solid var(--brown-color);*/
    background-color: var(--blue-color);
    padding: 10px;
    box-sizing: : border-box;
    align-items: center;
    justify-content: center;
}
